In [32]:
# 1. Numbers

In [1]:
1

1

In [3]:
1 + 2

3

In [4]:
1 - 2

-1

In [5]:
1 * 3

3

In [6]:
1 / 3

0.3333333333333333

In [7]:
2 + 5 * 5 + 3

30

In [8]:
(2 + 5) * ( 5 + 3)

56

In [10]:
2 ** 4

16

In [11]:
5 % 2

1

In [12]:
4 % 2

0

In [14]:
var = 2

In [15]:
var

2

In [17]:
x = 3
y = 4

In [18]:
x + y

7

In [34]:
#2. Strings

In [35]:
#2.1 Declare string variable

In [19]:
'This is one of the string'

'This is one of the string'

In [20]:
"This is another string"

'This is another string'

In [22]:
"It's python"

"It's python"

In [23]:
x = "Hello World!"

In [24]:
x

'Hello World!'

In [25]:
print(x)

Hello World!

In [26]:
#2.2 concatenate values inside the string

In [27]:
age = 25
name = "achsuthan"

In [28]:
print("my name is {} and my age is {}".format(name,age))

my name is achsuthan and my age is 25

In [29]:
#2.2.2 concatenate values inside the string with idenification

In [36]:
print('my namge is {one} and my age is {two}'.format(one = name, two = age))

my namge is achsuthan and my age is 25

In [37]:
#2.3.1 Indexing strings

In [38]:
s = "Hello"

In [43]:
print(s[len(s) - 1])

o

In [44]:
#2.3.2 Slices of stirng  a and b should be the index of string  [a:b] inbetween a and b if [a:] start from a inxex if [:b] up to b index

In [52]:
print(s[0]) # get the index 0 value

H

In [53]:
print(s[2:]) # get the charecters starting form index 2 in string s

llo

In [54]:
print(s[:3]) # get the charecters up to 3rd index in string s

Hel

In [55]:
print(s[0:5]) # get the charecters from 0 to 5 in string s

Hello

In [56]:
#3.1 lists

In [57]:
[1,2,3,4]

[1, 2, 3, 4]

In [58]:
["a","b","c","d"]

['a', 'b', 'c', 'd']

In [59]:
['a','b','c','d']

['a', 'b', 'c', 'd']

In [60]:
my_list = ['a','b','c'] # define the list

In [61]:
my_list.append('e') # append the string to my_list list

In [62]:
print(my_list)

['a', 'b', 'c', 'e']

In [63]:
print(my_list[len(my_list) - 3])

b

In [65]:
print(len(my_list)) # len() is used to get the length of the list

4

In [69]:
print(my_list[1:3])

['b', 'c']

In [70]:
#3.1  nested list

In [71]:
my_nested_list = [1,2,4,3,['a','b','c']]

In [74]:
print(my_nested_list[3])

3

In [75]:
print(my_nested_list[4][2]) # will print the value form nested array

c

In [76]:
#4 dictionary key value pair lists

In [93]:
d = {'k1':'something','k2':123} # create dictionary

In [94]:
print(d['k1']) # print the vlaue form dictionary

something

In [95]:
d['k3'] ='this is another value' # append value to dictionary

In [96]:
print(d['k3'])

this is another value

In [97]:
print(d['k2'])

123

In [98]:
#5 boolean

In [100]:
True

True

In [101]:
False

False

In [102]:
#6 Tuples

In [104]:
tuples = (1,2,'a',3)

In [105]:
print(tuples[2])

a

In [106]:
tuples[0] = 'hello' # tuples is a mutable we can asign the value later

TypeError: 'tuple' object does not support item assignment

In [107]:
#7 Sets  collection of unique elements

In [108]:
{1,2,3,4,5,6}

{1, 2, 3, 4, 5, 6}

In [110]:
{1,1,1,1,1,12,12,12,12,12,1,2} #In Sets will keep only unique items

{1, 2, 12}

In [113]:
set([1,2,12,12,12,12,11,1,1,1,1,1,]) #set() function will keep only unique items

{1, 2, 11, 12}

In [116]:
list_values = {1,2,3,4}

In [118]:
list_values.add(5) # add the vlaues to list

In [119]:
print(list_values)

{1, 2, 3, 4, 5}

In [122]:
list_values.add(3) #3 is not added becase its got duplicated

In [123]:
print(list_values)

{1, 2, 3, 4, 5}

In [124]:
#8 comparison operators

In [125]:
1 > 2

False

In [127]:
1 < 2

True

In [128]:
1 == 2

False

In [131]:
1 != 2

True

In [132]:
'hi' != 'bye'

True

In [134]:
'hi' == "hi"

True

In [137]:
(1 < 2) and (1 < 3)

True

In [139]:
(1 < 2) or (1 > 3)

True

In [140]:
True and True

True

In [141]:
True or False

True

In [142]:
#9 constions

In [145]:
if 1<2:
    print("hello")

hello

In [146]:
if True:
    print(True)

True

In [148]:
if  1 > 2 : 
    print("1 is greater than 2")
else:
    print("1 is less than 2")

1 is less than 2

In [150]:
if 1 > 2:
    print("1 is greater than 2")
elif 1 ==1:
    print("1 is equal 1")
else:
    print("1 is less than 2")

1 is equal 1

In [152]:
if 1 > 2:
    print("1 is greater than 2")
elif 1 == 1:
    print("1 is equal 1")
if 4 == 4:
    print("four is equal to four")

1 is equal 1
four is equal to four

In [153]:
#10 for loops

In [15]:
numbers = [1,2,3,4,5,6,7]

In [16]:
for item in numbers:
    print(item)

1
2
3
4
5
6
7

In [156]:
# 11 while loop

In [17]:
i = 1

while i<5:
    print("i value is {value}".format(value=i))
    i = i+1

i value is 1
i value is 2
i value is 3
i value is 4

In [4]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [18]:
for i in range(10,30):
    print(i)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [20]:
out = []

for i in numbers:
    print(i)
    out.append(i)
    
print(out)

1
2
3
4
5
6
7
[1, 2, 3, 4, 5, 6, 7]

In [23]:
[num**2 for num in numbers] # get the squre numbers of array vlaue

[1, 4, 9, 16, 25, 36, 49]

In [24]:
#12 Function

In [25]:
def my_first_func(param):  # def is used to define the function
    print(param)

In [27]:
my_first_func("Hello World!")

Hello World!

In [28]:
def default_function(param = 'default value'): # define the default value if param don't have any value function will take this default value
    print(param)

In [29]:
default_function()

default value

In [30]:
def square(number):  # function with return value 
    return number**number

In [33]:
square(3)

27

In [39]:
def documented_function(num=12):
    """
    This will cotain the doc string so when you want to see the doc you can press shift + tab 
    """
    return num**num

In [40]:
documented_function(5)

3125

In [41]:
#13 Map and filter function

In [42]:
def times2(num):
    return num*2

In [43]:
numbers = [1,2,3,4,5,6]

In [44]:
list(map(times2, numbers)) # map(one, two)  one is function two is array

[2, 4, 6, 8, 10, 12]

In [46]:
#lambda expression

In [53]:
value = lambda value: value * 2

In [54]:
value(2)  # access the lambda function

4

In [55]:
list(map(lambda num: num * 2, numbers))

[2, 4, 6, 8, 10, 12]

In [56]:
#14 filter  can be used to when function return true or false value

In [58]:
list(filter(lambda value: value%2 == 0, numbers))

[2, 4, 6]

In [59]:
#15 methods

In [60]:
s = "hello my name is Achsuthan"

In [63]:
s.lower()  #.lower() used to change the string to lower case

'hello my name is achsuthan'

In [64]:
s.upper() # .upper() used to chage to upper case

'HELLO MY NAME IS ACHSUTHAN'

In [65]:
s.split() # .split() is used to split the string

['hello', 'my', 'name', 'is', 'Achsuthan']

In [66]:
s.split(" ")

['hello', 'my', 'name', 'is', 'Achsuthan']

In [67]:
d  = {'k1':1,'k2':2}

In [68]:
d.keys() # .keys() will return the keys of d

dict_keys(['k1', 'k2'])

In [70]:
d.values() # .values() will return the vlaues of d

dict_values([1, 2])

In [71]:
list = [1,2,3,4,5]

In [73]:
list.pop() # pop() is used to get and remove the last value

4

In [74]:
list

[1, 2, 3]

In [76]:
list.pop(0) # pop(0) will return the first value and remove it form array

2

In [79]:
'x' in [1,2,3,4,5,'y'] # will check 'x' is available in the list

False

In [80]:
'y' in [1,2,3,4,5,'y']

True

In [81]:
x = [(1,2),(3,4),(5,6)]

In [83]:
for (a,b) in x: 
    print(a)
    print(b)

1
2
3
4
5
6

In [84]:
for a in x:
    print(a)

(1, 2)
(3, 4)
(5, 6)

In [92]:
for a in x: 
    for b in a:
        print("hello {index} : {value} ".format(index=a, value=b))

hello (1, 2) : 1
hello (1, 2) : 2
hello (3, 4) : 3
hello (3, 4) : 4
hello (5, 6) : 5
hello (5, 6) : 6