# Numpy Arrays

In [1]:
my_list = [1,2,3,4,5]

In [2]:
my_list

[1, 2, 3, 4, 5]

In [3]:
import numpy as np

In [10]:
arr = np.array(my_list) #converting list to numpy array

In [6]:
arr

array([1, 2, 3, 4, 5])

In [11]:
my_math = [(1,2,3),(4,5,6),(7,8,9)] #converting multidiamental list to numpy array

In [8]:
my_math

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [9]:
np.array(my_math)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [14]:
np.arange(0,10) #it will create from 0 to 10 list

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [16]:
np.zeros(4) #create a zero list with length of 4

array([0., 0., 0., 0.])

In [36]:
np.ones((4,5)) #create a 1 list array with 4 rows and 5 coloms with

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [38]:
np.ones(10)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [34]:
np.zeros((3,4)) #create two diamential zero list array with 3 rows and 4 coloms

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [25]:
np.arange(0,10,2) #create list array form 0 to 10 with differnce of 2

array([0, 2, 4, 6, 8])

In [27]:
np.linspace(0,5,3) #linspace will create with the equal space

array([0. , 2.5, 5. ])

In [33]:
np.linspace(0,4,100)

array([0.        , 0.04040404, 0.08080808, 0.12121212, 0.16161616,
       0.2020202 , 0.24242424, 0.28282828, 0.32323232, 0.36363636,
       0.4040404 , 0.44444444, 0.48484848, 0.52525253, 0.56565657,
       0.60606061, 0.64646465, 0.68686869, 0.72727273, 0.76767677,
       0.80808081, 0.84848485, 0.88888889, 0.92929293, 0.96969697,
       1.01010101, 1.05050505, 1.09090909, 1.13131313, 1.17171717,
       1.21212121, 1.25252525, 1.29292929, 1.33333333, 1.37373737,
       1.41414141, 1.45454545, 1.49494949, 1.53535354, 1.57575758,
       1.61616162, 1.65656566, 1.6969697 , 1.73737374, 1.77777778,
       1.81818182, 1.85858586, 1.8989899 , 1.93939394, 1.97979798,
       2.02020202, 2.06060606, 2.1010101 , 2.14141414, 2.18181818,
       2.22222222, 2.26262626, 2.3030303 , 2.34343434, 2.38383838,
       2.42424242, 2.46464646, 2.50505051, 2.54545455, 2.58585859,
       2.62626263, 2.66666667, 2.70707071, 2.74747475, 2.78787879,
       2.82828283, 2.86868687, 2.90909091, 2.94949495, 2.98989899,
       3.03030303, 3.07070707, 3.11111111, 3.15151515, 3.19191919,
       3.23232323, 3.27272727, 3.31313131, 3.35353535, 3.39393939,
       3.43434343, 3.47474747, 3.51515152, 3.55555556, 3.5959596 ,
       3.63636364, 3.67676768, 3.71717172, 3.75757576, 3.7979798 ,
       3.83838384, 3.87878788, 3.91919192, 3.95959596, 4.        ])

In [35]:
#identic materics: squre matrics(equal rows and coloms) with diagonal of 1
np.eye(4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [39]:
np.random.rand(5) #create a random value array with 5 rows

array([0.75602338, 0.40285645, 0.5785249 , 0.19439702, 0.54521163])

In [42]:
np.random.rand(5,4) #create a random value array with 5 rows and 4 coloum

array([[0.27508139, 0.07152869, 0.60961687, 0.92129127],
       [0.65481989, 0.94165482, 0.66989371, 0.5599478 ],
       [0.70888506, 0.35027891, 0.97285693, 0.06265767],
       [0.36255963, 0.97422026, 0.22403254, 0.7034793 ],
       [0.74357326, 0.53810964, 0.07174287, 0.4908208 ]])

In [44]:
np.random.randint(1,10) #it will give a rondom number inbetween 1 to 10

8

In [46]:
np.random.randint(1,10,6) #create a rondom 6 rows array with values between 1 to 10

array([5, 2, 8, 2, 8, 3])

In [49]:
np.random.randint(1,10,(5,5)) #create a rondom 5 rows and 5 Coloms array with values between 1 to 10

array([[5, 5, 7, 7, 3],
       [7, 9, 2, 3, 6],
       [6, 3, 1, 6, 1],
       [4, 8, 7, 9, 7],
       [8, 5, 7, 5, 6]])

In [52]:
arr = np.arange(25) #create a array with 0 to 25

In [51]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [54]:
np.reshape(arr,(5,5)) #rashape the array with 5 rows and 5 coloms with arr array

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [56]:
np.reshape(arr,(5,6)) #it will give error becase we need 30 values but in the arr we have only 25

ValueError: cannot reshape array of size 25 into shape (5,6)

In [58]:
np.min(arr) #min function will return the minimum value in arr

0

In [59]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [61]:
arr.max() #max function will return the maximum value in arr

24

In [66]:
arr.argmax() #will give the max index of arr

24

In [65]:
arr.argmin() #will give the min index of arr

0

In [69]:
arr.shape #shape will give the shape of the array

(25,)